{% extends 'base.html' %}
{% block content %}
    <div class="per80">
        <div class="accordion_box card">
            <button class="accordion">
                <div>
                    <h2>О приложении</h2>
                </div>
            </button>
            <div class="panel">
                <p>Приложение представляет собой удобную платформу, предназначенную для оптимизации процесса проведения
                    квалификационных испытаний. Оно призвано обеспечить эффективную работу как администраторов
                    тестирования, так и участников тестирования.</p>
                <p>Ключевые особенности нашего приложения включают в себя:</p>
                <ol>
                    <li>
                        Создание тестов. Наше приложение позволяет администраторам легко создавать и настраивать
                        квалификационные тесты в соответствии со своими конкретными требованиями. Благодаря удобному
                        интерфейсу администраторы могут легко добавлять вопросы.
                    </li>
                    <li>Прохождение теста. Экзаменуемые могут получить доступ к назначенным им квалификационным тестам
                        через безопасный вход в систему. Приложение предоставляет тестируемым удобный и интуитивно
                        понятный интерфейс, четко отображая вопросы и позволяя им отправлять ответы.
                    </li>
                </ol>
                <p>
                    С помощью применения квалификационных тестов мы стремимся упростить процесс оценки способностей
                    и навыков кандидатов. Будь то набор персонала, программы сертификации или профессиональное
                    развитие, наше приложение предоставляет надежное и эффективное решение для всех ваших
                    потребностей в квалификационных испытаниях.
                </p>
            </div>
        </div>
        <div class="accordion_box card">
            <button class="accordion">
                <div>
                    <h2>Разработчик</h2>
                </div>
            </button>
            <div class="panel">
                <p>Добро пожаловать в раздел «О разработчике!</p>
                <p>Данная платформа для выполнения и создания квалификационных тестов разработана студенткой 4 курса
                    института радиоэлектроники и информационных технологий Уральского федерального университета.</p>
                <p>Благодарю вас за выбор нашей платформы для проведения квалификационного тестирования. Наша задача
                    обеспечить превосходное качество оценивания и предоставить вам все необходимые инструменты для
                    этого.
                </p>
                <p>
                    Я верю в силу сотрудничества и стремлюсь к созданию качественных сервисов. По всем вопросам
                    обращаться на почту сodeсrafturfu@mail.ru»
                </p>
            </div>
        </div>
        <div class="accordion_box card">
            <button class="accordion">
                <div>
                    <h2>Версия приложения</h2>
                </div>
            </button>
            <div class=" panel">
                <p>Версия 1.0:</p>
                <ul>
                    <li>
                        Базовый функционал: вход в систему и выполнение тестов.
                    </li>
                    <li>
                        Возможности: редактирование тестов через административную панель.
                    </li>
                    <li>
                        Интерфейс: простой макет с минимальным количеством элементов дизайна.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        setPanels();
    </script>
{% endblock %}