{% extends 'base.html' %}
{% block content %}
<div class="per80">
    <div class="card">
        <h2>Авторизация</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in input_form.visible_fields %}
            {{ field.label_tag }}
            {{ field }}
            {% endfor %}
            <button class="submit_button" type="submit">Войти</button>
        </form>
{#        <form action="{% url 'quality_tests_app:reg' %}">#}
{#            <button class="submit_button" type="submit">Регистрация</button>#}
{#        </form>#}
    </div>
</div>
{% endblock %}